.DS_Store
node_modules
/.config/.cache/
/build/
# pnpm:
/.npmrc
# typescript:
/tsconfig.options.json
/tsconfig.json
tsconfig.json
# eslint:
/eslint.config.js
# moon:
/.moon/
/.moon/cache
/.moon/docker
/.moon/toolchain.yml
/.moon/workspace.yml
/.moon/tasks.yml
# moonCi:
moon.yml
/moon.yml
# vscode:
/.vscode/settings.json
# autolink:
/jest.config.cjs
# custom ignore patterns:
.env
.env.*
.swc
packages/swc-plugin-promock/target/
